:root {
  --bc: #14121c;
  --bc-gray: #0e0d10;
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --extra-dark-blue: #13141a;
  --dark-light: #424455;
  --red: #da2c4d;
  --dark-red: #6e1727;
  --yellow: #f8ab37;
  --grey: #ecedf3;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --green: #28a745;
  --light-green: #24e33a;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f9c6cf;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --light-gray: #ebecf2;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
  --bc: #14121c;
  --bc-gray: #0e0d10;
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --extra-dark-blue: #13141a;
  --dark-light: #424455;
  --red: #da2c4d;
  --dark-red: #6e1727;
  --yellow: #f8ab37;
  --grey: #ecedf3;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --green: #28a745;
  --light-green: #24e33a;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f9c6cf;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --light-gray: #ebecf2;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: #1e1e1e;
}

:root {
  --bc: #14121c;
  --bc-gray: #0e0d10;
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --extra-dark-blue: #13141a;
  --dark-light: #424455;
  --red: #da2c4d;
  --dark-red: #6e1727;
  --yellow: #f8ab37;
  --grey: #ecedf3;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --green: #28a745;
  --light-green: #24e33a;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f9c6cf;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --light-gray: #ebecf2;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: #1e1e1e;
}

nav {
  top: 0;
  max-height: 15vh;
  position: absolute;
  z-index: 130;

}

.navbar {
  heihgt: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  display: inline-block;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  width: 10vw;
  display: inline-block;
}

.dropbtn {
  position: fixed;
  top: 0;
  margin: 0;
  width: 10%;
  height: 15vh;
  border: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}
.dropbtn :hover {
  border-bottom-right-radius: 50px;
}
.dropbtn :focus {
  outline: none;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .dropdown:hover .dropbtn {
  background-color: #ab858c;

}

.navbar a:hover  {
  color : #1e1e1e;
}
.navbar .dropdown, .dropbtn {
  background-color: #ab858c;
  border-bottom-right-radius: 25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 0;
  margin: 1em;
  color: #ab858c;
  font-size: 150%;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#nav-icon3 {
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 135;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f1c8cf;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}
#nav-icon3 span:nth-child(4) {
  top: 20px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.navbar-right {
  height: 15vh;
  width: calc(100% - 10vw);
  display: inline-block;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  min-height: 100vh;
  /*display: grid;*/
  place-items: center;
  font-family: var(--font-family);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 601px) {
  div.intro-header {
  }
}

@media screen and (max-width: 600px) {
  div.intro-header {
    margin-top: 10%;
  }
}

.intro-header {
  padding-top: 5%;
  padding-bottom: 50px;
  text-align: center;
  /*color: #f8f8f8;*/
  color: #ab858c;
  background-size: cover;
  margin-top: -5%;
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  /* padding-bottom: 20%;*/
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ab858c;
}
.footertext{
  margin-right: 5%;
  margin-left: 5%;
}

.buttonInstagram {
  background-color: #ab858c;
  color: white;
  border: 2px solid white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.buttonInstagram:hover {
  background-color: white;
  color: #ab858c;
}

.instagram {
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 50px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-envelope {
  color: white;
}
.social-media {
  font-size : 50px;
  text-align: center;
  margin-bottom: 2,5%;
}

#footerimg {
  color: black;
  font-size : 50px;
}


:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

@media screen and (min-width: 1850px) {
  .overlay {
    width: 100%;
    max-width: 1140px;
    padding: 25px 50px 75px 250px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 25%;
  }
}
@media screen and (max-width: 1850px) {
    .overlay {
      width: 100%;
      max-width: 1050px;
      padding: 25px 50px 75px 250px;
      align-items: center;
      background-color: #ab858c;
      box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.125);
      margin-left: 20%;
    }
}
@media screen and (max-width: 1500px) {
  .overlay {
    width: 100%;
    max-width: 1050px;
    padding: 25px 50px 75px 250px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 15%;
  }
}

@media screen and (max-width: 1400px) {
  .overlay {
    width: 100%;
    max-width: 950px;
    padding: 25px 50px 75px 250px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 15%;
  }
}
@media screen and (max-width: 1250px) {
  .overlay {
    width: 100%;
    max-width: 900px;
    padding: 25px 50px 75px 100px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 15%;
  }
}

@media screen and (max-width: 1100px) {
  .overlay {
    width: 100%;
    max-width: 700px;
    padding: 25px 50px 75px 100px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 20%;
  }
}

@media screen and (max-width: 900px) {
  .overlay {
    width: 100%;
    max-width: 650px;
    padding: 25px 50px 75px 100px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 18%;
  }
}
@media screen and (max-width: 850px) {
  .overlay {
    width: 100%;
    max-width: 500px;
    padding: 25px 50px 75px 100px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 12%;
  }
}

@media screen and (max-width: 600px) {
  .overlay {
    width: 100%;
    max-width: 400px;
    padding: 25px 50px 75px 250px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 12%;
  }
}

@media screen and (max-width: 400px) {
  .overlay {
    width: 100%;
    max-width: 320px;
    padding: 25px 50px 75px 250px;
    align-items: center;
    background-color: #ab858c;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: 10%;
  }
}

.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
}

a {
  text-decoration: none;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    /*padding: 1.5rem;*/
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }
}


#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
    transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

@media screen and (min-width: 601px) {
  .social-media {
    font-size : 50px;
    text-align: center;
    margin-bottom: 2,5%;
  }
}

@media screen and (max-width: 600px) {
  .social-media {
    font-size : 30px;
    text-align: center;
    margin-bottom: 2,5%;
  }
}

@media screen and (min-width: 601px) {
  .social-media {
    font-size : 50px;
    text-align: center;
    margin-bottom: 2,5%;
  }
}

@media screen and (max-width: 600px) {
  .social-mediafooter {
    font-size : 10px;
    text-align: center;
    margin-bottom: 2,5%;
  }
}

/*.button-send {
  background-color: white;
  border: none;
  color: #black;
  padding: 15px 95px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}
*/

.inputbox {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}

#inputbox {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  #envelope {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #instagram {
    margin-left : -30px;
  }
}
